# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env
.env.*

# Logs
logs/*
!logs/.gitkeep

# Raw datasets
data/raw/*
!data/raw/.gitkeep

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/

# Python tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/